@model ETicaret.UI.Models.ProductVMs.ProductDetailVM

@{
    Layout = "_Layout";
    const decimal conversionRate = 0.036m; // Örneğin, 1 TL = 0.036 USD
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var unitPriceInUsd = Model.UnitPrice * conversionRate;
}

<section class="py-12">
    <div class="container" style="max-width: 800px;">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="card mb-4" style="width: 18rem;">
                <!-- Image -->
                @if (Model.Image == null)
                {
                    <img src="~/assets/img/products/default-product.jpg" alt="Product Image" class="card-img-top" style="height: 300px; object-fit: cover;" title="@Model.Description" data-bs-toggle="tooltip" data-bs-placement="top">
                }
                else
                {
                    <img class="card-img-top" src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Image)}")" alt="Product Image" style="height: 300px; object-fit: cover;" title="@Model.Description" data-bs-toggle="tooltip" data-bs-placement="top">
                }
                <!-- Body -->
                <div class="card-body text-center">
                    <!-- Product Name -->
                    <h5 class="card-title">@Model.Name</h5>
                    <!-- Product Description -->
                    <p class="card-text">@Model.Description</p>
                    <!-- Product Price -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (currentCulture == "tr")
                        {
                            <p class="card-text">₺@Model.UnitPrice.ToString("F2", new System.Globalization.CultureInfo("tr"))</p>
                        }
                        else
                        {
                            <p class="card-text">$@unitPriceInUsd.ToString("F2")</p>
                        }
                    }
                    <!-- Product Quantity -->
                    @* <p class="card-text">Quantity: @Model.Quantity</p> *@
                    <!-- Actions -->
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Id })" class="btn btn-primary">@Localizer["Sepete Ekle"]</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}
