@model ETicaret.UI.Areas.Admin.Models.AdminVMs.AdminCreateVM

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label for="floatingInputName">@Localizer["NewImage"]</label>
        <input type="file" asp-for="NewImage" class="form-control" />
        <span asp-validation-for="NewImage" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" id="floatingInputFirstName" type="text" placeholder="Ali">
        <label for="floatingInputFirstName">@Localizer["First Name"]</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" id="floatingInputLastName" type="text" placeholder="Toplu">
        <label for="floatingInputLastName">@Localizer["Last Name"]</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" id="floatingInputEmail" type="email" placeholder="example@bilgeadam.com">
        <label for="floatingInputEmail">@Localizer["Email"]</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-outline-primary" type="submit">@Localizer["Create"]</button>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</form>


