@model ETicaret.UI.Areas.Admin.Models.SizeVMs.SizeCreateVM

<form asp-action="Create">
    <div class="form-floating mb-3">
        <input asp-for="SizeName" class="form-control" type="text" placeholder="" />
        <label for="floatingInputName">@Localizer["SizeName"]</label>
        <span asp-validation-for="SizeName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Description" class="form-control" type="text" placeholder="" />
        <label for="floatingInputName">@Localizer["Description"]</label>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <select asp-for="SizeTypeId" class="form-select" id="CategoryDropdown">
            <option value="">@Localizer["Select Size Type"]</option>
            @foreach (var size in Model.SizeTypes)
            {
                <option value="@size.Value">@size.Text</option>
            }
        </select>
        <label for="CategoryDropdown">@Localizer["Size"]</label>
        <span asp-validation-for="SizeTypeId" class="text-danger"></span>
    </div>
    <button class="btn btn-outline-primary" type="submit">@Localizer["Create"]</button>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</form>

