@using System.Security.Claims
@model ETicaret.UI.Areas.Admin.Models.ProfileVMs.AdminProfileViewModel

@if (Model != null)
{
    <li class="nav-item dropdown pe-3 ms-2">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            @if (Model.Image != null && Model.Image.Length > 0)
            {
                <img src="@Model.Image" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
            }
            else
            {
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="Default Profile Picture" class="img-thumbnail mb-3" style="max-width: 150px;">
            }
            
            <span class="d-none d-md-block dropdown-toggle ps-2">@Model.FullName</span>
        </a><!-- End Profile Image Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile ">
            <li class="dropdown-header">
                <h6>@Model.FullName</h6>
                <br />
                <span> @Localizer["Role"]: @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value</span>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item d-flex align-items-center" asp-area="Admin" asp-controller="Account" asp-action="Profile">
                    <i class="bi bi-person"></i>
                    <span>@Localizer["My Profile"]</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item d-flex align-items-center" asp-area="Admin" asp-controller="Account" asp-action="Logout">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>@Localizer["Logout"]</span>
                </a>
            </li>
        </ul><!-- End Profile Dropdown Items -->
    </li>
}
