@model IEnumerable<ETicaret.UI.Areas.Admin.Models.CustomerVMs.CustomerAddressListVM>

@{
    ViewData["Title"] = "GetCustomerAddress";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var row = 0;
}

<h1>GetCustomerAddress</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            row++;
        <tr>
            <td>
                @row
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
               @*  @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
